[submodule "subprojects/HTSEngine"]
	path = subprojects/HTSEngine
	url = https://github.com/MycroftAI/htsengine_meson.git
[submodule "subprojects/pcre2"]
	path = subprojects/pcre2
	url = https://github.com/MycroftAI/pcre2_meson.git
